<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/headquarters/css/font.css">
    <link rel="stylesheet" href="/headquarters/css/xadmin.css">
    <script src="/headquarters/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/headquarters/js/xadmin.js"></script>
</head>

<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">食品公司本部</a>
            <a href="">营销中心</a>
            <a>
              <cite>活动列表</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <div class="layui-collapse" lay-filter="test">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">条件筛选<i class="layui-icon layui-colla-icon"></i></h2>
                            <div class="layui-colla-content">
                                <form class="layui-form" action="coupon">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">优惠券主键</label>
                                            <div class="layui-input-inline" style="width: 200px;">
                                                <input type="text" id="cpid" name="cpid" placeholder="cpid"
                                                       autocomplete="off"
                                                       class="layui-input">
                                            </div>
                                            <label class="layui-form-label">优惠券名称</label>
                                            <div class="layui-input-inline" style="width: 200px;">
                                                <input type="text" id="couponname" name="couponname" placeholder="couponname"
                                                       autocomplete="off"
                                                       class="layui-input">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">物料主键</label>
                                            <div class="layui-input-inline" style="width: 200px;">
                                                <input type="text" id="mid" name="mid" placeholder="mid"
                                                       autocomplete="off"
                                                       class="layui-input">
                                            </div>
                                            <label class="layui-form-label">物料名称</label>
                                            <div class="layui-input-inline" style="width: 200px;">
                                                <input type="text" id="mname" name="mname" placeholder="mname"
                                                       autocomplete="off"
                                                       class="layui-input">
                                            </div>
                                            <label class="layui-form-label">物料标签</label>
                                            <div class="layui-input-inline" style="width: 200px;">
                                                <input type="text" id="mtag" name="mtag" placeholder="mtag"
                                                       autocomplete="off"
                                                       class="layui-input">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">活动开启日期范围</label>
                                            <div class="layui-inline layui-show-xs-block">
                                                <input class="layui-input" autocomplete="off" placeholder="开始日"
                                                       name="greaterBeginTime" id="start"></div>
                                            <div class="layui-inline layui-show-xs-block">
                                                <input class="layui-input" autocomplete="off" placeholder="截止日"
                                                       name="lessBeginTime" id="end"></div>
                                        </div>
                                    </div>


                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">活动开启日期范围</label>
                                            <div class="layui-inline layui-show-xs-block">
                                                <input class="layui-input" autocomplete="off" placeholder="开始日"
                                                       name="greaterEndTime" id="start2"></div>
                                            <div class="layui-inline layui-show-xs-block">
                                                <input class="layui-input" autocomplete="off" placeholder="截止日"
                                                       name="lessEndTime" id="end2"></div>
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">订单状态</label>
                                            <div class="layui-input-inline">
                                                <select id="level" name="isActive" lay-search="">
                                                    <option value="">无条件</option>
                                                    <option value="0">停用</option>
                                                    <option value="1">启用</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交
                                            </button>
                                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-card-header">
                    <button class="layui-btn" onclick="xadmin.open('添加','tocppage')">
                        <i class="layui-icon"></i>添加
                    </button>
                </div>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>优惠券主键</th>
                            <th>优惠券名称</th>
                            <th>活动开始时间</th>
                            <th>活动结束时间</th>
                            <th>参与活动物料主键</th>
                            <th>参与活动物料名称</th>
                            <th>参与活动物料标签</th>
                            <th>限定数量</th>
                            <th>优惠金额</th>
                            <th>最低消费金额</th>
                            <th>状态</th>
                            <th>创建人</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody th:each="coupon:${coupons}">
                        <tr>
                            <td>[[${coupon.cpid}]]</td>
                            <td th:text="${coupon.couponname}">.10</td>
                            <td th:text="${#dates.format(coupon.begintime, 'yyyy-MM-dd')}"></td>
                            <td th:text="${#dates.format(coupon.endtime, 'yyyy-MM-dd')}"></td>
                            <td th:text="${coupon.mid}"></td>
                            <td th:text="${coupon.mname}"></td>
                            <td th:text="${coupon.mtag}">--17 :22</td>
                            <td th:text="${coupon.nnum}"></td>
                            <td th:text="${coupon.descmoney}"></td>
                            <td th:text="${coupon.needmoney}"></td>
                            <td th:if="${coupon.isactive}==0">未启用</td>
                            <td th:if="${coupon.isactive}==1">已启用</td>
                            <td th:text="${coupon.creator}">--17 :22</td>
                            <td th:text="${#dates.format(coupon.createtime, 'yyyy-MM-dd')}"></td>
                            <td class="td-manage">
                                <span th:if="${coupon.isactive}==1">
                                <a th:onclick="'javascript:member_stop(this,\''+${coupon.cpid}+'\',\'1\')'" title="停用">
                                    <i class="layui-icon">&#xe640;</i>
                                </a>
                                </span>
                                <span th:if="${coupon.isactive}==0">
                                <a th:onclick="'javascript:member_stop(this,\''+${coupon.cpid}+'\',\'0\')'" title="启用">
                                    <i class="layui-icon">&#xe669;</i>
                                </a>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div class="page">
                        <div>
                            <span><a class="prev" href=""
                                     th:href="@{'./coupon?flag=2&page='+${prePage}}">&lt;&lt;</a></span>
                            <span th:each="num:${nums}" th:class="${num}==${nowPage}?'current':'even'">
                                <a th:href="@{'./coupon?flag=2&page='+${num}}" th:text="${num}"></a>
                            </span>
                            <span><a class="next" href=""
                                     th:href="@{'./coupon?flag=2&page='+${nextPage}}">&gt;&gt;</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['laydate', 'form'], function () {
        var laydate = layui.laydate;
        var form = layui.form;


        // 监听全选
        form.on('checkbox(checkall)', function (data) {

            if (data.elem.checked) {
                $('tbody input').prop('checked', true);
            } else {
                $('tbody input').prop('checked', false);
            }
            form.render('checkbox');
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#end2' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#start2' //指定元素
        });


    });


    /*用户-停用*/
    function member_stop(obj, soid, nowState) {
        layer.confirm('确认要更改优惠券状态吗？', function (index) {
            // 异步对象
            $.ajax({
                url: "coupon/" + soid + "?nowState=" + nowState,
                type: "delete",
                dataType: "json",
                success: function (data) {
                }
            })
            if ($(obj).attr('title') == '启用') {
                layer.msg('已恢复!', {icon: 1, time: 1000});
            } else {
                layer.msg('已封锁!', {icon: 5, time: 1000});
            }
            setTimeout(function () {
                window.location.reload();
            }, 1500);

        });
    }

</script>

</html>