<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/headquarters/css/font.css">
    <link rel="stylesheet" href="/headquarters/css/xadmin.css">
    <script src="/headquarters/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/headquarters/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--></head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-form-item">
            <form class="layui-form" action="good" method="post">
            <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">物料主键</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_email" class="layui-input"  name="mid">
                </div>
                <label for="L_cname" class="layui-form-label">物料名称</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_cname" class="layui-input" name="materialname"></div>
                <label for="L_mc" class="layui-form-label">类别主键</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_mc" class="layui-input"  name="mcid">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_nnum" class="layui-form-label">长</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_nnum" class="layui-input" name="length">
                </div>
                <label for="L_unit" class="layui-form-label">宽</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_unit" class="layui-input" name="width"></div>
                <label for="L_money" class="layui-form-label">高</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_money" class="layui-input" name="height"></div>
            </div>
            <div class="layui-form-item">
                <label for="L_weight" class="layui-form-label">重量</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_weight" class="layui-input"  name="weight">
                </div>
                <label for="L_volumn" class="layui-form-label">体积</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_volumn" class="layui-input" name="volumn"></div>
            </div>

            <div class="layui-form-item">
                <label for="L_address" class="layui-form-label">品牌</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_address" class="layui-input" name="brand">
                </div>
                <label for="spec" class="layui-form-label">规格</label>
                <div class="layui-input-inline">
                    <input type="text" id="spec" class="layui-input" name="specifications"></div>
            </div>
            <div class="layui-form-item">
                <label for="L_creator" class="layui-form-label">创建人</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_creator" class="layui-input" name="creator" th:value="me" readonly="readonly">
                </div>
            </div>
                <button class="layui-btn" type="submit">添加</button>
            </form>
        </div>
    </div>
</body>
</html>