<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>支付测试页面</title>
</head>
<body>
<form action="pay">
    <!--@RequestParam("WIDout_trade_no") String WIDout_trade_no, @RequestParam("WIDtotal_amount") String WIDtotal_amount, @RequestParam("WIDsubject") String WIDsubject, @RequestParam("WIDbody") String WIDbody-->
    <input name="WIDout_trade_no" value="test123456"/>
    <input name="WIDtotal_amount" value="7012.21">
    <input name="WIDsubject" value="会员充值">
    <input name="WIDbody" value="为会员账户充值7021.21元">
    <button type="submit">提交</button>
</form>
</body>
</html>