<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/headquarters/css/font.css">
    <link rel="stylesheet" href="/headquarters/css/xadmin.css">
    <script src="/headquarters/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/headquarters/js/xadmin.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">食品公司本部</a>
            <a href="">会员管理</a>
            <a>
              <cite>会员列表</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <div class="layui-collapse" lay-filter="test">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">条件筛选<i class="layui-icon layui-colla-icon"></i></h2>
                            <div class="layui-colla-content">
                                <form class="layui-form" action="user">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">id</label>
                                            <div class="layui-input-inline" style="width: 200px;">
                                                <input type="text" id="uid" name="uid" placeholder="id"
                                                       autocomplete="off"
                                                       class="layui-input">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">用户名称</label>
                                            <div class="layui-input-inline" style="width: 200px;">
                                                <input type="text" id="username" name="username" placeholder="name"
                                                       autocomplete="off"
                                                       class="layui-input">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label">是否启用</label>
                                        <div class="layui-input-block">
                                            <input type="radio" name="isActive" value="1" title="是">
                                            <input type="radio" name="isActive" value="0" title="否">
                                            <input type="radio" name="isActive" value="" title="both" checked="">
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button class="layui-btn" lay-submit="" lay-filter="demo1" >立即提交
                                            </button>
                                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>用户名</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody th:each="user:${userlist}">
                        <tr>
                            <td class="td-id">[[${user.uid}]]</td>
                            <td th:text="${user.username}">小明</td>
                            <td class="td-status" th:if="${user.isactive}==1">
                                <span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span>
                            </td>
                            <td class="td-status" th:if="${user.isactive}==0">
                                <span class="layui-btn layui-btn-normal layui-btn-mini layui-btn-disabled">已停用</span>
                            </td>
                            <td class="td-manage">
                                <span th:if="${user.isactive}==1">
                                <a th:onclick="'javascript:member_stop(this,\''+${user.uid}+'\',\'1\')'" title="停用">
                                    <i class="layui-icon">&#xe601;</i>
                                </a>
                                </span>
                                <span th:if="${user.isactive}==0">
                                <a th:onclick="'javascript:member_stop(this,\''+${user.uid}+'\',\'0\')'" title="启用">
                                    <i class="layui-icon">&#xe62f;</i>
                                </a>
                                </span>
                                <a title="编辑"
                                   th:onclick="'xadmin.open(\'编辑\',\'editUserPage?userid='+${user.uid}+'\',600,400)'"
                                   href="javascript:;">
                                    <i class="layui-icon">&#xe642;</i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div class="page">
                        <div>
                            <span><a class="prev" href="" th:href="@{'./user?flag=2&page='+${prePage}}">&lt;&lt;</a></span>
                            <span th:each="num:${nums}" th:class="${num}==${nowPage}?'current':'even'">
                                <a th:href="@{'./vip?flag=2&page='+${num}}" th:text="${num}"></a>
                            </span>
                            <span><a class="next" href="" th:href="@{'./user?flag=2&page='+${nextPage}}">&gt;&gt;</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['laydate', 'form'], function () {
        var laydate = layui.laydate;
        var form = layui.form;


        // 监听全选
        form.on('checkbox(checkall)', function (data) {

            if (data.elem.checked) {
                $('tbody input').prop('checked', true);
            } else {
                $('tbody input').prop('checked', false);
            }
            form.render('checkbox');
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });


    });

    /*用户-停用*/
    function member_stop(obj, userid, nowState) {
        layer.confirm('确认要更改用户状态吗？', function (index) {
//alert(id);
            // 异步对象
            $.ajax({
                url: "user/" + userid + "?nowState=" + nowState,
                type: "delete",
                dataType: "json",
                success: function (data) {
                }
            })
            if ($(obj).attr('title') == '启用') {

                //发异步把用户状态进行更改
                $(obj).attr('title', '停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已启用!', {icon: 1, time: 1000});

            } else {
                $(obj).attr('title', '启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已停用!', {icon: 5, time: 1000});
            }
            setTimeout(function () {
                window.location.reload();
            }, 1500);

        });
    }

</script>
</html>